body {
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}

.combat_logo {
    color: white;
    font-size: 29px;
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 500;
    padding: 10px;
}

.combat_logo span {
    color: #00dcff;
    font-size: 32px;
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 700;

}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background-color: #107db7f5;
    box-shadow: inset;
    padding: 0px 4px 0px 4px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 10px 10px;
}

.navbar ul li {
    padding: 15px 22px;
    position: relative;
}

.navbar ul li a {
    color: floralwhite;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    color: rgba(6, 183, 253, 0.863);
}


.heading h2 {
    font-size: 80px;
    font-family: 'Righteous', cursive;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    text-align: center;
}

.games h3 {
    text-align: left;
    font-size: 55px;
    font-family: 'Righteous', cursive;
    font-weight: 150;
    color: #3a3937;
    padding: 15px;
    margin: 15px;
}

.content {
    font-size: 20px;
    font-family: 'Tillana', cursive;
    color: black;
}

.main {
    margin: 15px;
    padding: 20px;
}

.cards {
    width: 315px;
    height: 370px;
    margin: 20px 40px 40px 48px;
    padding: 10px 10px 10px 9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    display: inline-block;
    position: relative;
}

.cards:hover {
    box-shadow: 5px 5px 10px black;
}


.image img {
    width: 315px;
    height: 300px;
}

.image_name h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 15px;
    padding-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 23px;    
}

.line{
    width: 35px;
    background-color: black;
    height: 5px;
    margin: 5px 5px;
}

@media only screen and (max-width:1345px) {
    .navbar{
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
        background-color: #107db7f5;
        transition: all 0.4s ease-out;
        z-index: 1;
    }
    .burger{
        display: block;
        margin-right: 4px;
    }
    .responsive{
        width: 100%;
    }

    .combat_logo {
        font-size: 26px;
        padding-top: 5px ;
        padding-left: 2px;
        margin-left: -44px;
        margin-top: 18px;
    }
    
    .combat_logo span {
        font-size: 28px;
        padding-top: 5px ;
        margin-top: 8px;    
    }

    .h-nav-resp{
        height: 372px;
    }
    .visibility_resp{
        visibility: hidden;
    }

    .cards{
        width: 170px;
        height: 210px;
        margin: 20px 15px 20px 15px;
        padding: 6px 8px 10px 8px;
    }

    .image img{
        width: 164px;
        height: 164px;
        margin: 2px 2px 0px 2px;
        padding: 2px 2px 0px 2px;
    }

    .image_name h2 {
        font-size: 25px;
        margin-top: 10px;
    }

    .main{
        margin: 10px;
        padding: 20px;   
    }

}
